.contentContainer {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.contentContainer.overflow {
  overflow: hidden;
}

.main {
  grid-row: 2 / 3;
}

.hidden {
  position: absolute;
  left: -999999999px;
}

.images {
  display: flex;
  gap: var(--gap-sm);
}

.image {
  object-fit: contain;
}

.motto {
  text-align: center;
  padding: var(--padding-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-lg);
}

.motto .main {
  font-size: xx-large;
  font-weight: bold;
}

.motto .sub {
  font-size: large;
}

.navLinks {
  display: flex;
  gap: var(--gap-lg);
}

.linkDark {
  font-weight: bold;
  color: var(--color-text-inverted);
  background-color: var(--color-text);
  padding: var(--padding-split-sm);
  border-radius: var(--border-radius-oval);
}

.linkDark:hover {
  background-color: var(--color-neutral-4);
}

.linkDark:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 3px;
}

.story {
  padding: var(--padding-split-lg);
  background-color: var(--color-brand-1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

.story .title {
  font-size: x-large;
  font-weight: bold;
}

.story .content {
  display: flex;
  gap: var(--gap-med);
}

.story .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-med);
}

@media screen and (max-width: 950px) {
  .story .content {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .motto {
    padding: var(--padding-lg);
  }

  .navLinks {
    flex-direction: column;
  }
}
