/******************************************************************************/
/* Inspired by: https://www.joshwcomeau.com/css/custom-css-reset/
/******************************************************************************/

:root {
  --color-text: #2f2b20;
  --color-text-inverted: white;
  --color-neutral-1: #f2f2f2;
  --color-neutral-2: #e6e6e6;
  --color-neutral-3: #cccccc;
  --color-neutral-4: #595959;
  --color-brand-1: #f7eee0;
  --color-brand-2: #334253;
  --color-brand-3: #f4e165;
  --icon-size: 1.6rem;
  --padding-xsm: 0.5rem;
  --padding-sm: 1rem;
  --padding-lg: 3rem;
  --padding-xl: 4rem;
  --padding-split-sm: 0.5rem var(--padding-sm);
  --padding-split-med: 1rem var(--padding-lg);
  --padding-split-lg: calc(var(--padding-xl) / 1.5) var(--padding-lg);
  --gap-sm: 0.5rem;
  --gap-med: 1rem;
  --gap-lg: calc(var(--gap-med) * 1.5);
  --border-radius-circle: 100%;
  --border-radius-oval: 50px;
  --border-radius-rounded-corners: 0.5rem;
}

/* TODO: Add focus states across all css modules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  font-family: 'Inter', 'Open Sans', 'Source Sans 3', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
