header {
  font-size: large;
  font-weight: bold;
  padding: var(--padding-split-med);
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

header > :first-child {
  grid-column: 1 / 2;
  justify-self: start;
}

header > :nth-child(2) {
  grid-column: 2 / 3;
  justify-self: center;
}

header > :last-child {
  grid-column: 3 / 4;
  justify-self: end;
}

header button {
  background: none;
  border: none;
}

.navLinksProducts ul {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.navLinksProducts a {
  display: inline-block;
}

.navLinksProducts li > * {
  padding: var(--padding-xsm);
  border-bottom: 2px solid transparent;
}

.navLinksProducts li > *:hover {
  border-bottom: 2px solid var(--color-text);
}

.navLinksPages {
  display: flex;
  align-items: center;
  gap: var(--gap-med);
}

.navLinksPages a:has(img) {
  flex-shrink: 0;
  position: relative;
}

.logo {
  width: 4rem;
}

.icon {
  padding: 0.5rem;
  border-radius: var(--border-radius-circle);
}

.icon:hover {
  background-color: var(--color-neutral-2);
}

.bag {
  position: relative;
}

.bagCount {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--color-text-inverted);
  font-size: 0.7rem;
  background-color: var(--color-text);
  border-radius: var(--border-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, 5%);
}
