.contentContainer {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}

.errorImg {
  width: 400px;
}

.errorText {
  font-size: 1.5rem;
}

.return {
  font-weight: bold;
  color: var(--color-text-inverted);
  background-color: var(--color-text);
  padding: var(--padding-split-sm);
  border-radius: var(--border-radius-oval);
}

.return:hover {
  background-color: var(--color-neutral-4);
}

.hidden {
  position: absolute;
  left: -999999999px;
}

@media screen and (max-height: 600px) {
  .errorImg {
    width: 300px;
  }
}

@media screen and (max-height: 450px) {
  .errorImg {
    width: 200px;
  }
}

@media screen and (max-height: 300px) {
  .main {
    gap: var(--gap-med);
  }

  .errorImg {
    width: 150px;
  }
}
